.canvas-properties {
  padding: 0 16px;

  .properties-form {
    :global(.ant-form-item) {
      margin-bottom: 16px;
    }

    :global(.ant-form-item-label) {
      padding-bottom: 4px;
    }

    .rect-test {
      &-inputs {
        display: flex;
        gap: 12px;
      }
    }
    .rect-test,
    .ruler-settings,
    .guide-line-settings {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .setting-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 32px;
      }
    }
  }
}
